.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.product-item {
  border: 1px solid #d60e0ecb;
  padding: 20px;
  text-align: center;
}

.product-item img {
  max-width: 100%;
  height: auto;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
